:root{
    --vermelho: rgb(252, 5, 5);
    --preto: rgb(24, 24, 24);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: Arial;
    color: white;

}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 5px;

}

header nav a:hover{
    color: aliceblue;
}
/*Filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.432),rgba(0, 0, 0, 0.411)100%), url(/netflixclone/harrypotter-capa.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 60px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    
}

.botao{
    background-color: rgba(0, 0, 0, 0.589);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
   /* transition: 2s ease all;*/
}

.botao:hover{
    background-color: rgba(255, 255, 255, 0.644);
    color: black;
}

.botao i{
    margin-right: 10px;
}

.container{
    margin-left: 15px;
}

.filme-principal .container .descricao{
    width: 70%;
}

.box-filme{
    height: 40%;
    width: 40%;
    display: block;
    cursor: pointer;
   
}

.carrossel-filmes{
    margin-top: 5px;
}

